<!DOCTYPE html>

<head>
	<title>{{ model_name }} - Custom Template</title>
	<script src="/static/jquery.min.js"></script>
	<script>
		/*
				This is the Tornado template for the Modular Visualization. The Javascript code opens a WebSocket connection to the server
				(the port is set via the template). On every step, it receives inputs, one per module, and sends them to the associated function to render

				Users can reset() the model, advance it by one step(), or run() it through. reset() and
				step() send a message to the server, which then sends back the appropriate data. run() just
				calls the step() method at fixed intervals.

				The model parameters are controlled via the MesaVisualizationControl object. The GUI is
				created using the dat.GUI library.

			*/
		/**
		Object which holds visualization parameters.

			tick: What tick of the model we're currently at
			running: Boolean on whether we have reached the end of the current model
			fps: Current frames per second.
		*/
		var MesaVisualizationControl = function() {
			this.tick = -1; // Counts at which tick of the model we are.
			this.running = false; // Whether there is currently a model running
			this.fps = 1; // Frames per second
		}

		var player; // Variable to store the continuous player
		var control = new MesaVisualizationControl();
		var elements = []; // List of Element objects


		// WebSocket Stuff
		var ws = new WebSocket("ws://127.0.0.1:{{ port }}/ws"); // Open the websocket connection
		ws.onopen = function() {
			console.log("Connection opened!");
			reset();
		};

		// Parse an incoming message
		ws.onmessage = function(message) {
			msg = JSON.parse(message.data);
			//console.log(message.data);
			switch (msg["type"]) {
				case "viz_state":
					data = msg["data"]
					for (var i in elements) {
						elements[i].render(data[i]);
					}
					break;
				case "end":
					// We have reached the end of the model
					control.running = false;
					break;
				default:
					// There shouldn't be any other message
					console.log("Unexpected message.");
			}
		}

		// Turn an object into a string to send to the server, and send it.
		var send = function(message) {
			msg = JSON.stringify(message);
			ws.send(msg);
		}

		/**
		*	Simulation Controls
		*/

		// Reset the model, and rest the appropriate local variables.
		var reset = function() {
			control.tick = 0;
			updateUI();
			send({
				"type": "reset"
			});

			// Reset all the visualizations
			for (var i in elements) {
				elements[i].reset();
			}
		};

		// Send a message to the server get the next visualization state.
		var single_step = function() {
			control.tick += 1;
			updateUI();
			send({
				"type": "get_step",
				"step": control.tick
			});
		};

		// Do the next simulation step
		var step = function() {
			if (!control.running) {
				single_step()
			} else {
				run()
			};
		};


		// Call the step function at fixed intervals, until getting an end message from the server.
		var run = function() {
			if (!control.running) {
				control.running = true;
				player = setInterval(single_step, 1000 / control.fps);
			}
		};

		// Pause the simulation
		var pause = function() {
			if (control.running) {
				control.running = false;
				if (player) {
					clearInterval(player);
					player = null;
				}
			}
		}

		// Change FPS
		var changeFPS = function(fps) {
			if(control.fps != fps) {
				control.fps = fps;
				if(control.running) {
					// Start and stop to use new FPS
					pause();
					run();
				}
			}
		}

		// Update the current step number in the UI
		var updateUI = function() {
			$("#current-step").html(control.tick)
		}
	</script>

	<!-- Get Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		html {
		  position: relative;
		  min-height: 100%;
			height: 100%;
		}
		body {
		  margin: 0;
			height: 100%;
			overflow: hidden;
		}
		/* Navigation */
		.navbar {
			background-color: #fff;
		}
		/* Layout */
		.container-fluid {
			padding: 0;
			padding-top: 54px;
			height: 100%;
		}
		.flex-row {
			display: flex;
			justify-content: space-between;
			flex-direction: row;
			flex-wrap: nowrap;
			height: 100%;
		}
		.grids {
			overflow-y: scroll;
			position: relative;
			background-color: #000;
		}
		.controls {
			width: calc(100% - 1200px - 20px);
			padding: 15px 15px 0 15px;
		}
		/* Canvas */
		canvas.background {
			background: #c9c9c9;
			z-index: 0;
		}
		canvas.real-world {
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;
		}
	</style>

</head>

<body>

	<nav class="navbar navbar-fixed-top navbar-light bg-faded">
	  <!--<a class="navbar-brand" href="#">{{ model_name }}</a>-->
		<span id="mouse-position"></span>
	</nav>

	<div class="container-fluid">
		<div class="flex-row">
			<div class="grids">
				<!-- Script includes go here -->
				{% for file_name in package_includes %}
					<script src="/static/{{ file_name }}" type="text/javascript"></script>
				{% end %}
				{% for file_name in local_includes %}
					<script src="/local/{{ file_name }}" type="text/javascript"></script>
				{% end %}
				<script>
				// Element-specific scripts go here:
				// Actual script snippets go here.
				{% for script in scripts %}
						{% raw script %}
				{% end %}
				</script>
			</div>

			<div class="controls">
				<h5>Controls</h5>
				<hr>
				<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
					<div class="btn-group" role="group" aria-label="First group">
						<button type="button" id="controls-reset" class="btn btn-outline-danger" disabled><i class="fa fa-repeat"></i></button>
						<button type="button" id="controls-play" class="btn btn-outline-success"><i class="fa fa-play"></i></button>
						<button type="button" id="controls-step" class="btn btn-outline-success"><i class="fa fa-step-forward"></i></button>
						<button type="button" id="controls-pause" class="btn btn-outline-info" disabled><i class="fa fa-pause"></i></button>
					</div>
					<div class="btn-group" role="group" aria-label="Second group">
						<select id="controls-fps" class="custom-select">
							<option disabled>Choose FPS</option>
							<option value="0">0 FPS</option>
							<option selected value="1">1 FPS</option>
							<option value="5">5 FPS</option>
							<option value="10">10 FPS</option>
							<option value="15">15 FPS</option>
							<option value="20">20 FPS</option>
						</select>
					</div>
				</div>

				<hr>
				<h6>Current step: <span id="current-step">0</span></h6>
				<hr>
				<span id="mouse-position1"></span>
			</div>
		</div>
	</div>

	<script>
		/**
		*	UI Controls
		*/
		// Reset
		$("#controls-reset").click(function() {
			$("#controls-reset").prop("disabled", true);
			reset();
		});
		// Play
		$("#controls-play").click(function() {
			$("#controls-play").prop("disabled", true);
			$("#controls-pause").prop("disabled", false);
			$("#controls-step").prop("disabled", true);
			run();
		});
		// Step
		$("#controls-step").click(function() {
			step();
		});
		// Pause
		$("#controls-pause").click(function() {
			$("#controls-pause").prop("disabled", true);
			$("#controls-play").prop("disabled", false);
			$("#controls-step").prop("disabled", false);
			$("#controls-reset").prop("disabled", false);
			pause();
		});
		// FPS
		$("#controls-fps").change(function() {
			changeFPS($(this).val());
		});

		/**
		* Mouse events
		*/
		function getMousePosition(canvas, event) {
			var rect = canvas.getBoundingClientRect();
			return {
				x: event.clientX - rect.left,
				y: event.clientY - rect.top
			};
		};


		$( document ).ready(function() {
			var realWorld = $(".real-world")[0];
			realWorld.addEventListener('mousemove', function(event) {
				var mousePosition = getMousePosition(realWorld, event);
				$("#mouse-position").html("x: " + mousePosition.x + ", y: " + mousePosition.y);
			});
		});
	</script>
</body>
